/* imageeditor ========================================== */
.imageeditor-container {
  width: 1200px;
  height: 800;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.imageeditor-header h3 {
  height: 30px;
  margin-top: 0;
  color: #42b983; }

.imageeditor-footer {
  height: 30px; }

.imageeditor-body {
  display: table;
  margin: 10px 0;
  height: 600px;
  width: 1185px; }

.imageeditor-body-canvas {
  border: 1px solid #aaa;
  width: 960px;
  height: 615px;
  float: left;
  background-image: url(../assets/transparent_graphic.png);
  background-repeat: repeat; }

.imageeditor-body-tools {
  margin-left: 20px;
  float: left;
  width: 200px; }

.tab-pane {
  margin-top: 5px; }

.nav-sm > li > a {
  position: relative;
  display: block;
  padding: 5px 5px;
  margin: 2px; }

.preset-button {
  padding: 5px 0px; }

.preset-col100 {
  width: 195px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-right: 10px; }

.preset-col90 {
  width: 185px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin-right: 10px*/ }

.preset-col45 {
  width: 95px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-right: 5px;
  float: left; }

.preset-col40 {
  width: 85px;
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-right: 5px;
  float: left; }

.preset-col90 .img-thumbnail,
.preset-col40 .img-thumbnail {
  width: 180px;
  padding: 2px; }

.preset-col20 {
  width: 45px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-right: 5px;
  float: left; }

.controll-label {
  color: #343431;
  font-size: 14px; }

.hr-sm {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
  width: 100%; }

input[type=range].imageeditor-range {
  width: 95px; }

input[type=range] {
  -webkit-appearance: none !important;
  background-color: #434341;
  height: 1px;
  vertical-align: 7.5px;
  margin: 10px 0;
  display: inline-block; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2C3E50; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2C3E50; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2C3E50;
  border-radius: 25px;
  border: 0px solid #000101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #2980B9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: #2980B9;
  cursor: pointer; }

.nav-justified > li {
  width: 75px;
  font-size: 14px; }
