<script type="text/javascript">
	var access_token 	= "{access_token}";
	var editor_mode 	= "{editor_mode}";
	var yam_id 			= "{yam_id}";
</script>
<script type="text/javascript" src="js/Communicator.js"></script>
<script type="text/javascript" src="js/PEUtils.js"></script>
<script type="text/javascript" src="js/player.js"></script>
<script type="text/javascript" src="js/PEConsts.js"></script>
<script type="text/javascript" src="js/TweenMaker.js"></script>
<script type="text/javascript" src="js/PESelectionHandler.js"></script>
<script type="text/javascript" src="js/PEImageEditorSelectionHandler.js"></script>

<script type="text/javascript" src="js/PEToolsData.js"></script>
<script type="text/javascript" src="js/PETweenableColor.js"></script>
<script type="text/javascript" src="js/TextFx.js"></script>
<script type="text/javascript" src="js/ShapeFx.js"></script>
<script type="text/javascript" src="js/Freehand.js"></script>
<script type="text/javascript" src="js/Scrollbars.js"></script>
<script type="text/javascript" src="js/PECore.js"></script>
<script type="text/javascript" src="js/PECore-publisher.js"></script>
<script type="text/javascript" src="js/PECore-ux.js"></script>
<script type="text/javascript" src="js/PECore-vue-prop-text.js"></script>
<script type="text/javascript" src="js/PECore-vue-prop-shape.js"></script>
<script type="text/javascript" src="js/PECore-vue-prop-image.js"></script>
<script type="text/javascript" src="js/PECore-vue-prop-background.js"></script>
<script type="text/javascript" src="js/PECore-vue-video-editor.js"></script>
<script type="text/javascript" src="js/PECore-yams.js"></script>
<script type="text/javascript" src="js/PECore-text.js"></script>
<script type="text/javascript" src="js/PECore-shapes.js"></script>
<script type="text/javascript" src="js/PECore-io.js"></script>
<script type="text/javascript" src="js/PECore-assets.js"></script>
<script type="text/javascript" src="js/PECore-templates.js"></script>
<script type="text/javascript" src="js/PECore-timeline.js"></script>
<script type="text/javascript" src="js/PECore-dat.gui.js"></script>
<script type="text/javascript" src="js/PECore-vue.js"></script>
<script type="text/javascript" src="js/PECore-hierarchy.js"></script>
<script type="text/javascript" src="js/PECore-image-editor.js"></script>
<script type="text/javascript" src="js/PECore-yam-options.js"></script>
<script type="text/javascript" src="js/PECore-background-manager.js"></script>
<script type="text/javascript" src="js/PEAnimationManager.js"></script>
<script type="text/javascript" src="js/PropertiesManager.js"></script>
<script type="text/javascript" src="js/Main.js"></script>

</body>